[submodule "IntrOS/interface"]
	path = IntrOS/interface
	url = https://github.com/rajszym/IntrOS-interface
[submodule "IntrOS/kernel"]
	path = IntrOS/kernel
	url = https://github.com/rajszym/IntrOS-kernel
[submodule "IntrOS/port/AVR8"]
	path = IntrOS/port/AVR8
	url = https://github.com/rajszym/IntrOS-port-AVR8
[submodule "IntrOS/port/ATTINY817"]
	path = IntrOS/port/ATTINY817
	url = https://github.com/rajszym/IntrOS-port-ATTINY817
